
# STUFF THAT SHOULD NOT ENCUMBER REPO
static/
help/
pg_data/
*temp*
*test*
*truc*

# PERSONNAL SETTINGS
.idea/
.vscode/
*.code-workspace
.python-version
.virtual_documents/
.directory
env
.env

# TEMPORARY FILES
__pycache__/
*.pyc
*.dat
.ipynb_checkpoints
*/.ipynb_checkpoints/*